<!-- <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div [formGroupName]="i" style="margin-bottom: 10px;">
        <label for="name">Name:</label>
        <input type="text" name="name" formControlName="name">
        <br><br>
        <label for="pay">Pay:</label>
        <input type="text" name="pay" formControlName="pay">
      </div>
    <br>
    <button type="button" (click)="addItem()" style="margin-right: 5px;">Add</button>
    <button type="submit">Submit</button>
  </form> -->