









 

mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 100;
    background: #f7f7f7;
  
  }
  
  mat-drawer {
    width: 200px;
    background: #0f172a;
  
  }
  mat-drawer-container {
    height: 100%;
  }
  
    .mat-icon {
      /* vertical-align: middle; */
      margin-right: 1rem;
    }
  
  
  
  .mat-list-item {
    color: white !important;
    font-size: 0.8rem;
    height: 44px !important;
    margin-bottom: 4px;
  
  }
  
  .mat-subheader {
    color: black;
    font-size: 1rem;
    /* font-weight: 20; */
    /* letter-spacing: 1px; */
  }
  
    .project-item {
    margin: 5px;
  }