<!-- nav -->
<!-- <title>angular-routing</title> -->
<!-- <nav  > -->
<!-- <div class="navbar-nav"> -->
<!-- <div *ngIf="currentUser">
  <nav>
    <div>
      <ul>
        <li>
          <a routerLink="/">Home</a>
        </li>
        <li>
          <a (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</div> -->
<!-- <div *ngIf="currentUser">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</div> -->
<!-- <div *ngIf="currentUser">
  <a mat-list-item routerLink="/">Home</a>
  <a mat-list-item (click)="logout()">Logout</a>
</div> -->

<mat-drawer-container>
  <mat-drawer mode="side" [opened]="isExpanded" *ngIf="currentUser">
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item (click)="logout()">Logout</a>

      <div *ngFor="let route of childroutes">
        <a
          mat-list-item
          *ngFor="let hey of route.children"
          routerLink="projects/{{ hey.path }}"
        >
          {{ hey.label }}
        </a>
      </div>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar *ngIf="currentUser">
      <mat-toolbar-row class="justify-content-between">
        <button mat-icon-button (click)="isExpanded = !isExpanded">
          <mat-icon *ngIf="!isExpanded">chevron_right</mat-icon>
          <mat-icon *ngIf="isExpanded">chevron_left</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
<!-- </div>
<!-- </nav> -->

<!-- main app container -->
