<div>
  <!-- <div formArrayName="finalform"> -->
  <form class="madhuri" (ngSubmit)="onSubmit()" [formGroup]="testform">
    <div class="myform">
      <!-- enable it only if formfields are created -->
      <div formArrayName="studentForms" *ngFor="let fun of getStudentControls();let i = index">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>Student {{i+1}}</mat-card-title><span *ngIf="getStudentControls().length>1"><div class="example-button-container">
              <button title="Delete Student"  align="end" (click)="removeStudentOnClick(i)" class="delete-btn" mat-fab color="primary" aria-label="Example icon button with a delete icon">
                <mat-icon>delete</mat-icon>
              </button>
            </div></span>
          </mat-card-header>
          <mat-card-content>

            <div [formGroupName]="i">
              <div>
                <div *ngFor="let key of formFields" class="form-group">
                  <app-createform [input]="key" [form]="$any(fun)" [index]="i"></app-createform>
                </div>
              </div>
            </div>

          </mat-card-content>

          <!-- <div class="form-group">
          <mat-card-actions> </mat-card-actions>
        </div> -->
        </mat-card>
      </div>
    </div>
    <!-- </div> -->

    <!-- <button mat-button type="add" mat-raised-button color="primary" (click)="onAdd()">Add
        
      </button>
      <h3>Here's the payload</h3><br>{{payLoad}} -->
    <div class="mybuttons">
      <button mat-button type="add" mat-raised-button color="primary" [disabled]="testform.invalid" (click)="onAdd()">
        Add

        <!-- <a routerLink="/modelform">Add </a> -->
      </button>
      &nbsp;
      &nbsp;
      <button mat-button type="submit" mat-raised-button color="primary" [disabled]="testform.invalid" >
        Save
      </button>

      <!-- {{formG.v}} -->
    </div>
    <!-- </div> -->
  </form>
</div>


<!-- <div > -->
  <!-- <div  *ngFor="let fun of getStudentControls() ;let i = index"> -->
    <!-- <div  *ngFor="let fun of dataPur ;let i = index"> -->
<!-- 
      <p>{{fun['name'] | json}}</p>
      <p>{{fun['email'] | json}}</p>
      <p>{{fun['sex'] | json}}</p>
      <p>{{fun['country'] | json}}</p>
      <p>{{fun['message'] | json}}</p> -->
    <!-- <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Sex</th>
          <th scope="col">Country</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>{{fun['name'] | json}}</td>
          <td>{{fun['email'] | json}}</td>
          <td>{{fun['country'] | json}}</td>
        </tr>

      </tbody>
    </table>

    </div> -->
    <!-- <div  *ngFor="let fun of dataPur ;let i = index"> -->

<div class="wrapper">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
      <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element ">{{element.get('name').value}}</td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let element">{{element.get('email').value}}</td>
  </ng-container>

  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef>country</th>
    <td mat-cell *matCellDef="let element">{{element.get('country').value}}</td>
  </ng-container>
  <ng-container matColumnDef="message">
    <th mat-header-cell *matHeaderCellDef>message</th>
    <td mat-cell *matCellDef="let element">{{element.get('message').value}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
</div>



    <!-- <form [formGroup]="testform">

    <mat-table [dataSource]="dataSource">

      <ng-container cdkColumnDef="name">
        <mat-header-cell *cdkHeaderCellDef> Name </mat-header-cell>
        <mat-cell *cdkCellDef="let row let rowIndex = index"  [formGroupName]="rowIndex"> 
          <input type="text" size="2" formControlName="name"> </mat-cell>
      </ng-container>


      <ng-container cdkColumnDef="email">
        <mat-header-cell *cdkHeaderCellDef> Email </mat-header-cell>
        <mat-cell *cdkCellDef="let row let rowIndex = index"  [formGroupName]="rowIndex"> 
          <input type="text" size="7" formControlName="email">
        </mat-cell>
      </ng-container> -->

        <!-- <ng-container cdkColumnDef="weight">
        <mat-header-cell *cdkHeaderCellDef> Weight </mat-header-cell>
        <mat-cell *cdkCellDef="let row let rowIndex = index"  [formGroupName]="rowIndex"> 
          <input type="text" size="3" formControlName="weight">
        </mat-cell>
      </ng-container>

        <ng-container cdkColumnDef="symbol">
        <mat-header-cell *cdkHeaderCellDef> Symbol </mat-header-cell>
        <mat-cell *cdkCellDef="let row let rowIndex = index"  [formGroupName]="rowIndex"> 
          <input type="text" size="2" formControlName="symbol">
        </mat-cell>
      </ng-container> -->

      <!-- Header and Row Declarations -->
      <!-- <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </form> -->

